/* hd&ft.css */
header nav ul {
    display: flex;
    justify-content: center;
    background-color: #561a1a;
    padding: 10px 0;
    list-style: none;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: white;
    font-size: 1.1em;
    padding: 10px;
}

header nav ul li a:hover {
    color: #f0a500;
}

footer {
    background-color: #a34a4a;
    color: white;
    text-align: center;
    padding: 10px 0;
}
